.top-bar {
    margin-bottom: 20px;
}

.transcript {
    resize: none;
    height: 300px;
    overflow-y: auto;
}

.transcript.small {
    height: 230px;
}

.scored-token {
    color: white;
    padding: 1.5px;
}

#stats-list ul {
    list-style-type: none;
    line-height: 15px;
}

#tip-callout {
    margin: 0% 5%;
}

footer {
    margin-top: 30px;
    text-align: center;
}